<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Potrzeba tylko troszkę uczucia</h3>
                <h1>Włożonego w małe, proste rzeczy.</h1>
                <h5>Stworzenie pojedynczego świata wywodzi się z ogromnej ilości fragmentów i chaosu.</h5>
                <h5>- Hayao Miyazaki</h5>
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
